.DS_Store

CMakeFiles/
CMakeScripts/
Release/
Debug/
*.xcodeproj/
ITKIOFactoryRegistration/

CMakeCache.txt

*.cmake

*.mhd

*.raw

PhiTransposePhi.txt

PhiTransposePhiInv.txt

*.mha

output-harmonic-energy.txt

output-metric.txt

*.tfm
